
external-hijack/.vs/external-hijack/FileContentIndex/de603f28-3794-4888-9e2b-4653de203bfa.vsidx
external-hijack/.vs/external-hijack/FileContentIndex/read.lock
external-hijack/.vs/external-hijack/v17/.suo
external-hijack/.vs/external-hijack/v17/Browse.VC.db
external-hijack/.vs/external-hijack/v17/Browse.VC.db-shm
external-hijack/.vs/external-hijack/v17/Browse.VC.db-wal
external-hijack/.vs/external-hijack/v17/Browse.VC.opendb
external-hijack/.vs/external-hijack/v17/ipch/AutoPCH/172bd26a4b3ab1df/OVERLAY.ipch
external-hijack/.vs/external-hijack/v17/ipch/AutoPCH/41823fc3b7c172d9/IMGUI_IMPL_DX11.ipch
external-hijack/.vs/external-hijack/v17/ipch/AutoPCH/4581287dc814c257/THREADS.ipch
external-hijack/external-hijack/imgui.ini
external-hijack/external-hijack/overlay/overlay.cpp
external-hijack/external-hijack/overlay/overlay.hpp
external-hijack/external-hijack/threads/threads.cpp
external-hijack/external-hijack/utilities/includes.hpp
external-hijack/external-hijack/x64/Release/external-hijack.exe.recipe
external-hijack/external-hijack/x64/Release/external-hijack.iobj
external-hijack/external-hijack/x64/Release/external-hijack.ipdb
external-hijack/external-hijack/x64/Release/external-hijack.log
external-hijack/external-hijack/x64/Release/external-hijack.tlog/CL.command.1.tlog
external-hijack/external-hijack/x64/Release/external-hijack.tlog/CL.read.1.tlog
external-hijack/external-hijack/x64/Release/external-hijack.tlog/CL.write.1.tlog
external-hijack/external-hijack/x64/Release/external-hijack.tlog/external-hijack.lastbuildstate
external-hijack/external-hijack/x64/Release/external-hijack.tlog/link.command.1.tlog
external-hijack/external-hijack/x64/Release/external-hijack.tlog/link.read.1.tlog
external-hijack/external-hijack/x64/Release/external-hijack.tlog/link.write.1.tlog
external-hijack/external-hijack/x64/Release/imgui.obj
external-hijack/external-hijack/x64/Release/imgui_demo.obj
external-hijack/external-hijack/x64/Release/imgui_draw.obj
external-hijack/external-hijack/x64/Release/imgui_impl_dx11.obj
external-hijack/external-hijack/x64/Release/imgui_impl_win32.obj
external-hijack/external-hijack/x64/Release/imgui_tables.obj
external-hijack/external-hijack/x64/Release/imgui_widgets.obj
external-hijack/external-hijack/x64/Release/overlay.obj
external-hijack/external-hijack/x64/Release/threads.obj
external-hijack/external-hijack/x64/Release/vc143.pdb
external-hijack/external-hijack/x64/Release/vcpkg.applocal.log
external-hijack/x64/Release/external-hijack.exe
external-hijack/x64/Release/external-hijack.pdb
